# =========================
# Entorno virtual
# =========================
.venv/
venv/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Archivos temporales
# =========================
*.log
*.tmp

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Build / dist (por si en el futuro)
# =========================
build/
dist/

# =========================
# Serial / debug dumps (futuro)
# =========================
*.csv
*.dat